# value variable will be having 100\
# {% will be used to setting up variable and if there is aditional looping
# If we want to replace the variable we have to use {{}} (Double curly braces)

{% set value=100 %}

{% if value==100 %}
   <p>{{ value }}</p>
{% else %}
   <p> Value is not 100 </p>
{% endif %}

{% set host_list = ['host1','host2','host3'] %}

{%for host in host_list %}
{{ host }}
{% endfor %}
